<%= simple_form_for @user do |f| %>
  <div class="field">
    <%= f.input :username %>
  </div>
  <div class="field">
    <%= f.input :password %>
  </div>
  <div class="field">
    <%= f.input :password_confirmation %>
  </div>
  <h6>Optional:</h6>
  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.input :author_name %>
  </div>

  <%= f.button :submit %>
<% end %>
